<% provide(:title, "About") %>
<h1>About</h1>
<div class="row">
	<div class="col-md-12" style="background: white;">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1 id="monocle">MONOCLE</h1>
				<h2 id="">製品概要</h2>
				<h3 id="supportech">SupporTech</h3>
            	<h3 id="-1">背景（製品開発のきっかけ、課題等)</h3>

				<p>熊本地震の際、余った高速バスの有効活用のため、物資支援やトイレとして使用されていました。必要な場所に必要な分だけ物資を届ける必要がありましたが、どこに届ければいいのかわからないことや、重複して余分な物資を届けてしまうという課題があります。</p>

				<h3 id="-2">製品説明（具体的な製品の説明）</h3>

				<p>避難所の近くを通ると、必要な物資のリストをチャットボットが知らせてくれて、必要な物資を必要な分だけ届けることができるよう支援するサービスです。位置情報とチャットボットを組み合わせた新しい震災支援ツールになります。
					震災時以外には、ある位置の付近を通った際に、観光案内や震災を忘れないためのチャットボットツールとして使用されます。</p>

				<h3 id="-3">特長</h3>

				<h4 id="1">1. 震災時に避難所に効率よく物資を届けることが出来き、バスだけでなく誰でも復興支援ができる。</h4>

				<h4 id="2">2. 物資不足を発見できる</h4>

				<h4 id="3">3. 震災時以外にも、地域や地域の人の為になる情報を配信、復興と観光に活用できる</h4>

				<h4 id="4">4. 震災を忘れないためのツール</h4>

				<h4 id="5">5. 既存のサービスを利用するので、新たに導入する手間がない</h4>

				<h4 id="6web">6. Webアプリケーションなので、インストールが不要</h4>

				<h3 id="-4">解決出来ること</h3>

				<ul>
					<li>震災時に避難所に足りない物資を誰でも供給出来るように手配することが出来る。</li>
					<li>不足した物資、ボランティアの需要を発見できる</li>
					<li>物資の重複供給を減らすことができる</li>
					<li>バスで物資の運搬、宿泊・休憩スペース、トイレの貸出等をして、避難所での不便さを軽減できる</li>
				</ul>
			</div>
		</div>
	</div>
</div>

